.movies{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
.movies{
  grid-template-columns: 1fr 1fr;
}
}